{% extends 'base.html.twig' %}

{% block css %}
<link href="{{CSS_BASE_URL}}/index.css" type="text/css" rel="stylesheet" media="screen,projection">
{% endblock %}

{% block title %}SuperCosto{% endblock %}

{% block body %}


<div class="row">
  <div class="col s12 m12 l12 panel_slider">
    <div class="carousel carousel-slider ">
      <a class="carousel-item" href="{{BASE_URL}}"><img class="responsive-img" title="Atendemos de lunes a domingo" alt="Atendemos de lunes a domingo incluido feriados de 8 a 22 horas" src="http://static.websguru.com.ar/var/m_1/12/128/67918/1027619-supermercado-tio-juan-banner-min-min.png"></a>
      <a class="carousel-item" href="{{BASE_URL}}"><img class="responsive-img" title="Una tradición en zona norte" alt="Una tradición en zona norte" src="http://static.websguru.com.ar/var/m_c/cd/cd3/56923/858439-banner.jpg"></a>
      <a class="carousel-item" href="{{BASE_URL}}"><img class="responsive-img" title="Promo fin de año" alt="Promo fin de año mesas felices $150.000 en efectivo, lleva 3 productos en promo y participa" src="http://diariolaopinion.com.ar/download/multimedia.normal.9c0c311a47b794df.6e6f726d616c2e6a7067.jpg"></a>
      <a class="carousel-item" href="{{BASE_URL}}"><img class="responsive-img" title="Supermercado y cafetería con productos ecológicos" alt="Supermercado y cafetería con productos ecológicos" src="http://obbiofood.com/wp-content/uploads/2015/09/1170-OBBIO-Banners-web-1.png"></a>
      <a class="carousel-item" href="{{BASE_URL}}"><img class="responsive-img" title="Productos para la limpieza de pisos, baños, cocinas y estanterías de espacios comerciales" alt="Productos para la limpieza de pisos, baños, cocinas y estanterías de espacios comerciales" src="http://ecolim.mx/img/bannerTop_secc_06_supermercados.png"></a>
    </div>
  </div>
  <div class="col s6 m6 l6 panel_video">
    <div class="video-container ">
      <iframe width="853" height="480" src="//www.youtube.com/embed/t8Mx6omPnEs?rel=0&cc_load_policy=1" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col s6 m6 l6">
    <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Grupo SuperCosto: Líder Mundial de distribución</span>
              <p>El Grupo SuperCosto es un líder de la distribución minorista en Europa y el
                segundo distribuidor mundial. Emplea a casi 365.000 personas en más de 10.100
                tiendas en 34 países. Como el minorista multilocal, multiformato y multicanal,
                SuperCosto es un socio para la vida diaria. Todos los días, acoge a más de 10
                millones de clientes en todo el mundo, ofreciéndoles una amplia gama de
                productos y servicios a precios justos...
              </p>
            </div>
            <div class="card-action">
              <a href="{{BASE_URL}}index/contacto">Conoce más</a>
            </div>
          </div>
  </div>
</div>



{% endblock %}

{% block js %}
<script language="JavaScript" src="{{JS_BASE_URL}}/index.js"></script>
{% endblock %}
