<!DOCTYPE html>
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{NOMBRE_HOSPITAL}}{% endblock %}</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{BASE_URL_INC}}src\resource\public\css\materialize.min.css" rel="stylesheet" type="text/css">
  <link href="{{BASE_URL_INC}}src\resource\public\css\font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="{{BASE_URL_INC}}src\resource\public\css\sweetalert.css" rel="stylesheet" type="text/css">
  <link href="{{BASE_URL_INC}}src\resource\public\css\custom.css" rel="stylesheet" type="text/css">

  {% block css %}{% endblock %}
</head>
<body class="sticky">

  <nav>
    <div class="nav-wrapper">
      <a href="{{BASE_URL}}" class="brand-logo"> SuperCosto</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><em class="material-icons">menu</em></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{BASE_URL}}">Nuestros Productos</a></li>
        <li><a href="{{BASE_URL}}index/nosotros">Institucional</a></li>
        <li><a href="{{BASE_URL}}index/contacto">Contacto</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo" >
        <li><a href="{{BASE_URL}}">Nuestros Productos</a></li>
        <li><a href="{{BASE_URL}}index/nosotros">Institucional</a></li>
        <li><a href="{{BASE_URL}}index/contacto">Contacto</a></li>
      </ul>
    </div>
  </nav>

  <main>

    <div class="container">
      {% if flashBag.isEmpty('success') %}
      <div class="row">
        <div class="col s12 m12">
          <div class="card-panel  red accent-4 mensaje">
            <span class="white-text" autofocus>
              <ul>
                {% set msj = flashBag.getMsj('success') %}
                {% for success in msj %}
                <li>{{ success }}</li>
                {% endfor %}
              </ul>
            </span>
          </div>
        </div>
      </div>
      {% endif %}
      {% block body %}{% endblock %}
    </div>
  </main>

  <!-- sector de scripts -->
  <script type="text/javascript" src="{{BASE_URL_INC}}src/resource/public/js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="{{BASE_URL_INC}}src/resource/public/js/materialize.min.js"></script>

  {% block js %}{% endblock %}

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">SuperCosto</h5>
          <p class="grey-text text-lighten-4">
            Nuestras convicciones se rigen por tres valores: COMPROMETIDOS, ATENTOS y POSITIVOS.
            <br />
            Estos tres valores nos unen a nuestros clientes y consumidores y reflejan nuestra personalidad.
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Enlaces</h4>
          <ul>
            <li><a class="grey-text text-lighten-3" href="{{BASE_URL}}">Nuestros Productos</a></li>
            <li><a class="grey-text text-lighten-3" href="{{BASE_URL}}index/nosotros">Institucional</a></li>
            <li><a class="grey-text text-lighten-3" href="{{BASE_URL}}index/contacto">Contacto</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Copyright 2017 © SuperCosto, Todos los derechos reservados
        <a class="grey-text text-lighten-4 right" title="Dirección General de Defensa y Protección al Consumidor" href="http://www.buenosaires.gob.ar/defensaconsumidor">Dirección General de Defensa y Protección al Consumidor</a>
      </div>
    </div>
  </footer>
</body>

</html>
