<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
  <title>{% block title %}{{NOMBRE_HOSPITAL}}{% endblock %}</title>
  <link href="{{BASE_URL_INC}}src\resource\public\css\materialize.min.css" rel="stylesheet" type="text/css">
  <link href="{{BASE_URL_INC}}src\resource\public\css\font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="{{BASE_URL_INC}}src\resource\public\css\sweetalert.css" rel="stylesheet" type="text/css">
  <style media="screen">

  html{
    height: 100vh
  }
    body.sticky{
      display: flex;
      min-height: 100%;
      flex-direction: column;
    }
    main{
      flex: 1 0 auto;
    }
  </style>
  {% block css %}{% endblock %}
</head>
<body class="sticky">

  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"> SuperCosto</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Nuestros Productos</a></li>
        <li><a href="badges.html">Institucional</a></li>
        <li><a href="badges.html">Contacto</a></li>
      </ul>
    </div>
  </nav>

  <main>

    <div class="container">
      {% block body %}{% endblock %}
    </div>
  </main>

  <!-- sector de scripts -->
  <script type="text/javascript" src="{{BASE_URL_INC}}src/resource/public/js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="{{BASE_URL_INC}}src/resource/public/js/materialize.min.js"></script>

  {% block js %}{% endblock %}

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">SuperCosto</h5>
          <p class="grey-text text-lighten-4">
            Nuestras convicciones se rigen por tres valores: COMPROMETIDOS, ATENTOS y POSITIVOS.
            <br />
            Estos tres valores nos unen a nuestros clientes y consumidores y reflejan nuestra personalidad.
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Enlaces</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Nuestros Productos</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Institucional</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Contacto</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Copyright 2017 © SuperCosto, Todos los derechos reservados
        <a class="grey-text text-lighten-4 right" href="http://www.buenosaires.gob.ar/defensaconsumidor">Dirección General de Defensa y Protección al Consumidor</a>
      </div>
    </div>
  </footer>
</body>

</html>
